<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Aerobulla - Comercio</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/estilo_tienda.css" rel="stylesheet" />
            <!-- icons of sidebar -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        <link href="/estilo_tienda.css" rel="stylesheet" />
        <!-- styles of sidebar -->
        <link href="/sidebar/sidebar.css" rel="stylesheet" />
    </head>
    <!-- sidebar depends of class and id -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            const pathnameSegments = window.location.pathname.split('/');
            const id_tienda = pathnameSegments[2];
            console.log('id_tienda :>> ', id_tienda);
        </script>

        <link href="/globales.css" rel="stylesheet" />

    </head>


    <body class="s_body" id="body-pd">

        <% if(user){ %>
          
            <header class="s_header" id="header">
                <div class="s_header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
                <div class="s_header_img"> <img src="/uploads/img_tiendas/<%= user.logo_tienda %>" alt=""> </div>
            </header>
    
    
            <div class="s_l-navbar" id="nav-bar">
                <nav class="s_nav">
                    <div> <a href="#" class="s-a s_nav_logo"> <i class='bx bx-store s_nav_icon'></i> <span class="s_nav_logo-name"> <%= user.nombre_tienda %> </span> </a>
                        
                    <% if(trabajador){%>
                        <div> <a href="#" class="s-a s_nav_logo"> <i class='bx bx-user'></i> <span class="s_nav_logo-name"><%= trabajador.nombre +' '+trabajador.apellido %> </span> </a>
                    <%}%>

                        <div class="nav_list"> 
    
    
                            <a href="/caja_productos/<%= user.id_tienda %>" class="s-a s_nav_link active"> 
                                <i class='bx bx-money-withdraw'></i>
                                <span class="nav_name">Caja</span> 
                            </a> 
    
                            <a href="/productos" class="s-a s_nav_link">
                                <i class='bx bx-purchase-tag-alt'></i> 
                                <span class="s_nav_name">Crear Producto</span> 
                            </a> 
    
                            <a href="/ver_productos/<%= user.id_tienda %>" class="s-a s_nav_link"> 
                                <i class='bx bxs-purchase-tag-alt' ></i>
                                <span class="nav_name">Ver Productos</span>
                            </a> 
    
                            <a href="/ver_ventas/<%= user.id_tienda %>" class="s-a s_nav_link"> 
                                <i class='bx bx-columns' ></i>
                                <span class="nav_name">Ver Ventas</span> 
                            </a> 
                            
                            <a href="/ver_productos_bodega/<%= user.id_tienda %>" class="s-a s_nav_link"> 
                                <i class='bx bx-package'></i>
                                <span class="nav_name">Ver Productos en Bodega</span> 
                            </a> 

                            <a href="/index_tienda/<%= user.id_tienda %>" class="s-a s_nav_link"> 
                                <i class='bx bx-chalkboard' ></i>
                                <span class="nav_name">Ver Landing</span> 
                            </a> 
    
                        </div>
                    </div> <a href="/logout" class="s-a s_nav_link"> <i class='bx bx-log-out s_nav_icon'></i> <span class="nav_name">Salir</span> </a>
                </nav>
            </div>

            <% } %>

        <div class="container-fluid" style="padding:2%;">

            <div class="row">
                <h1 class="text-center mt-5"> CAJA DE VENTAS </h1>
              </div>

            <div class="row">

                <!-- izquierda para el buscador de productos -->
                <div class="col-md-6">
                    <div class="row mt-5">
                        <h6>
                            Seleccione los productos: 
                        </h6>
                        <hr>
                    </div>
                    <div class="table-responsive align-middle" style="overflow-x: hidden; overflow-y: hidden;">
                        <table id="tablin" class="table table-striped text-center mt-4">
                            <thead id="titletable">
                                <tr class="table">
            
                                    <th>ID </th>
                                    <th>NOMBRE</th>
                                    <th>STOCK</th>
                                    <th>PRECIO</th>
                                    <th>IMAGEN</th>
                                    <th>CARRITO</th>
                                 
            
                                </tr>
                            </thead>
                            <tbody >
                                
                                <% productos.forEach((producto)=> { %>
                                    <tr >
                                        
                                        <td>
                                            <%= producto.id_producto %>
                                        </td>
                                        <td>
                                            <%= producto.nombre_producto %>
                                        </td>
                                        <td>
                                            <%= producto.stock %>
                                        </td>
                                        <td>
                                            <%= producto.precio_producto %>
                                        </td>
        
            
                                        <td>
                                            <img src="/uploads/img_productos/<%= producto.imagen_producto %>" style="width: 80px; height: 80px;" alt="">
                                        </td>
    
                                        <td>
                                            <% if(producto.stock === 0){%>
                                                <button type="button" class="btn btn-danger mt-3">Sin Stock</button>
                                            
                                            <%}else{%>
                                                <button type="button" class="btn btn-warning btn-obtener-datos mt-3">Agregar</button>
                                            <%}%>
                                        </td>
                                    
                                    </tr>
            
                                    <% }) %>
                                        <!-- Agrega más filas según tus necesidades -->
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- derecha para el detalle del carrito -->
                <div class="col-md-6">
                    <!-- MUESTRA LO QUE SE AGREGA AL CARRITOI -->
                    <div class="container">
                        <div class="row mt-5">
                            <h6>Carrito: </h6>
                            <hr>
                        </div>
                        <div id="detalle" style="background-color: white; padding: 4%;">
                            <div class="row">
                                Carrito Vacío
                                <div class="col-md-9" id="divProducto"></div>
                                <div class="col-md-3" id="divCantidad" style="margin-left: 30%;"></div>
                            </div>
                        </div>
                    </div>
                    <!-- FIN DE MUESTAS -->
                </div>

            </div>
               
        </div>


        <!-- FORMULARIO PARA SUBMITEAR -->
        <div class="container-fluid mt-2" style="padding: 3%;">
            <form action="/cajaCompletada" method="post">
                <div class="row align-items-stretch mb-5">
                    <div class="col-md-12">
                        <div class="form-group">
                            <h4>Datos del cliente</h4>
                            <input class="form-control" type="text" id="rut" name="rut" placeholder="Rut de cliente" maxlength="10" />
                        </div>
                    </div>

                <input type="text" name="inputcarrito" id="inputcarrito" hidden>
                <input type="text" name="idtienda" id="idtienda" hidden>

                <!-- Submit Button-->
                <!-- <h2 class="section-heading text-uppercase text-end">Total:</h2> -->
                <div class="text-end"><button class="btn btn-primary btn-xl text-uppercase mt-2" id="submit-btn-vali" type="submit">Realizar Venta</button></div>
            </form>
        </div>
        <!-- FIN FORMULARIO SUBMITEO -->


        <!-- Footer-->
        <!-- <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright &copy; Aeropuerto 2023</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">Politicas de Privacidad</a>
                        <a class="link-dark text-decoration-none" href="#!">Terminos y Condiciones</a>
                    </div>
                </div>
            </div>
        </footer> -->
        <!-- Portfolio Modals-->
             
        <!--CDN de la datatables-->
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
        
        <!-- SCRIPT DE DATA TABLE -->
        <script>
            $(document).ready(function () {
                $('#tablin').DataTable({
                    "language": espanol,
                    paging: false,
                    ordering: false,
                    info: false,
                });

            });

            var espanol = {
                "processing": "Procesando...",
                "lengthMenu": "Mostrar _MENU_ registros",
                "zeroRecords": "No se encontraron resultados",
                "emptyTable": "No existe ningun producto registrado hasta el momento",
                "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                "search": "Buscar:",
                "infoThousands": ",",
                "loadingRecords": "Cargando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                "stateRestore": {
                    "creationModal": {
                        "button": "Crear",
                        "name": "Nombre:",
                        "order": "Clasificación",
                        "paging": "Paginación",
                        "search": "Busqueda",
                        "select": "Seleccionar",
                        "columns": {
                            "search": "Búsqueda de Columna",
                            "visible": "Visibilidad de Columna"
                        },
                        "title": "Crear Nuevo Estado",
                        "toggleLabel": "Incluir:"
                    },
                    "emptyError": "El nombre no puede estar vacio",
                    "removeConfirm": "¿Seguro que quiere eliminar este %s?",
                    "removeError": "Error al eliminar el registro",
                    "removeJoiner": "y",
                    "removeSubmit": "Eliminar",
                    "renameButton": "Cambiar Nombre",
                    "renameLabel": "Nuevo nombre para %s",
                    "duplicateError": "Ya existe un Estado con este nombre.",
                    "emptyStates": "No hay Estados guardados",
                    "removeTitle": "Remover Estado",
                    "renameTitle": "Cambiar Nombre Estado"
                }
            }

        </script>

        <!-- SCRIPT CARRITO -->
        <script>
            // Obtener todos los botones con la clase "btn-obtener-datos"
            var btnsAgregar = document.getElementsByClassName("btn-obtener-datos");
            const detalle = document.getElementById('detalle');
            const inputCarrito = document.getElementById('inputcarrito');
            var carritoCompra = {}; // Objeto para almacenar los productos en el carrito
            const idtienda = document.getElementById('idtienda');
            idtienda.value = id_tienda;
            // Recorrer todos los botones y agregar un evento de clic a cada uno
            for (var i = 0; i < btnsAgregar.length; i++) {
                btnsAgregar[i].addEventListener("click", function() {
                    // Obtener la fila actual del botón
                    var fila = this.closest("tr");
        
                    // Obtener el valor del nombre y precio de la fila actual
                    var id = fila.querySelector("td:nth-child(1)").innerText;
                    var nombre = fila.querySelector("td:nth-child(2)").innerText;
                    var stock = fila.querySelector("td:nth-child(3)").innerText;
                    var precio = parseFloat(fila.querySelector("td:nth-child(4)").innerText);
        
                    // Verificar si el producto ya ha sido agregado al carrito
                    if (carritoCompra[nombre]) {
                        // Si el producto ya existe en el carrito, aumentar la cantidad y actualizar el precio total
                        carritoCompra[nombre].cantidad++;
                        carritoCompra[nombre].precioTotal = carritoCompra[nombre].cantidad * carritoCompra[nombre].precioUnitario;
                    } else {
                        // Si es un producto nuevo, agregarlo al carrito con cantidad y precio total
                        carritoCompra[nombre] = {
                            id:id,
                            cantidad: 1,
                            stock: stock,
                            precioUnitario: precio,
                            precioTotal: precio
                        };
                    }
        
                    // Actualizar el contenido del div de detalle
                    updateDetalle();
                    printCarritoCompra();
                });
            }
        
            // Función para actualizar el contenido del div de detalle
            function updateDetalle() {
                detalle.innerHTML = "";
        
                // Recorrer los productos en el carrito y mostrarlos en el div
                Object.keys(carritoCompra).forEach(function(nombreProducto) {

                    var producto = carritoCompra[nombreProducto];
                    var div = document.createElement("div");
        
                    // Crear input numérico para ajustar la cantidad del producto
                    var inputCantidad = document.createElement("input");
                    var HRR = document.createElement("hr");
                    inputCantidad.type = "number";
                    inputCantidad.style = "width: 100px";
                    inputCantidad.className = "form-control";
                    inputCantidad.value = producto.cantidad;
                    inputCantidad.addEventListener("input", function() {
                        var nuevaCantidad = parseInt(this.value);
                        if (!isNaN(nuevaCantidad) && nuevaCantidad >= 0) {
                            // Validar que la cantidad no sea mayor al stock
                            if (nuevaCantidad > producto.stock) {
                                this.value = producto.stock; // Establecer la cantidad al valor máximo disponible
                            } else {
                                producto.cantidad = nuevaCantidad;
                                producto.precioTotal = nuevaCantidad * producto.precioUnitario;
                                updateDetalle();
                                printCarritoCompra();
                            }
                        } else {
                            // Restablecer la cantidad al valor actual en caso de ser inválida
                            this.value = producto.cantidad;
                        }
                    });
        
                    // Crear botón para eliminar el producto
                    var btnEliminar = document.createElement("button");
                    btnEliminar.innerText = "Eliminar";
                    btnEliminar.className = "btn btn-danger"
                    btnEliminar.style = "margin-left: 90%"
                    btnEliminar.addEventListener("click", function() {
                        delete carritoCompra[nombreProducto];
                        updateDetalle();
                        printCarritoCompra();
                    });
        
                    // Agregar los elementos al div
                    div.innerText = "Producto: " + nombreProducto + " \nPrecio Total: $" + producto.precioTotal + "\n Cantidad: ";
                    div.appendChild(inputCantidad);
                    div.appendChild(btnEliminar);
                    div.appendChild(HRR);
                    detalle.appendChild(div);

                });
            }
        
            // Función para imprimir el carrito de compra en la consola y actualizar el valor del input
            function printCarritoCompra() {
                console.clear();
                console.log("Carrito de Compra:");
                console.log(carritoCompra);
                inputCarrito.value = JSON.stringify(carritoCompra);
            }
        </script>
        

</script>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <% if(typeof alert !="undefined" ){ %>
            <script>
                Swal.fire({
                    title: '<%= alertTitle%>',
                    text: '<%= alertMessage%>',
                    icon: '<%= alertIcon%>',
                    showConfirmButton: <%= showConfirmButton%>,
                    timer: <%= timer %>
                }).then(() => {
                        window.location ='<%=ruta%>'
                    })
            </script>
        <% } %>
        <script src="/sidebar/sidebar.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/scripts_tienda.js"></script>
        <script src="/axios.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        <script>
            //VALIDADOR DE RUT
      
      let rutInput = document.getElementById('rut');
      let submitBtn = document.getElementById('submit-btn-vali');
      let validacionRut = document.getElementById('validacion-rut');
      
      rutInput.addEventListener('input', function() {
      
        let rut = this.value;
      
        if (/^[0-9]{7,8}-[0-9Kk]{1}$/.test(rut) && validarRut(rut) && !esRutConDigitosIguales(rut)) {
          submitBtn.disabled = false;
          validacionRut.innerHTML = '<i class="fas fa-check-circle" style="color: #21252B;"></i>';
        } else {
            submitBtn.disabled = true;
            validacionRut.innerHTML = '<i class="fas fa-times-circle" style="color: #21252B;"></i>';
        }
      });
      
      function validarRut(rut) {
      
        
      
          let [numero, digitoVerificador] = rut.split('-');
          let suma = 0;
          let multiplicador = 2;
      
          for (let i = numero.length - 1; i >= 0; i--) {
            suma += multiplicador * numero.charAt(i);
            multiplicador = multiplicador === 7 ? 2 : multiplicador + 1;
          }
      
          let resto = suma % 11;
          let digitoCalculado = 11 - resto;
          if (digitoCalculado === 11) {
            digitoCalculado = '0';
          } else if (digitoCalculado === 10) {
            digitoCalculado = 'K';
          }
      
          return digitoCalculado.toString() === digitoVerificador.toUpperCase();
        }
      
        function esRutConDigitosIguales(rut) {
          let [numero] = rut.split('-');
          return numero.split('').every(d => d === numero[0]);
      }
      
      
        </script>


    </body>
</html>
