<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/jpg" href="/icono.png"/>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargando</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if(typeof alert !="undefined" ){ %>
        <script>
            Swal.fire({
                title: '<%= alertTitle%>',
                text: '<%= alertMessage%>',
                icon: '<%= alertIcon%>',
                showConfirmButton: <%= showConfirmButton%> ,
                timer: <%= timer %>
            }).then(() => {
                    window.location = '/<%= ruta%>'
                })
        </script>
    <% } %>
    
</body>
</html>