<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inicio de sesión</title>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="/estilo_tienda.css" rel="stylesheet" />
  </head>
  <body>

    <% if(user){ %>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav text-uppercase py-4 py-lg-0 fs-5">
              <li class="nav-item">
                <a class="nav-link active ps-5" aria-current="page" href="">Tienda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/productos">Registrar Producto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/ver_productos/<%= user.id_tienda %>">Ver Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/caja_productos/<%= user.id_tienda %>">Caja</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/ver_ventas/<%= user.id_tienda %>">Ventas</a>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto text-uppercase py-4 py-lg-0 fs-5">
              <li class="nav-item">
                <a class="nav-link" href="/index_tienda/<%= user.id_tienda %>">Landing</a>
              </li>
              <li class="nav-item">
                <a title="Cerrar sesión" data-bs-toggle="tooltip" class="nav-link" href="/logout"><i class="fa-solid fa-arrow-right-from-bracket fs-3 pe-5" style="color: #b30004; "></i> </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div class="d-flex justify-content-center align-items-center vh-100 mt-2 " style="background-color: hsl(0, 0%, 90%); ">
        <div class="bg-white p-5 rounded-5 text-secondary shadow" style="width: 60rem; border-radius: 30px;">
            <form action="/GuardarProducto" method="POST" class="needs-validation" enctype="multipart/form-data" novalidate >
              <input type="hidden" name="formType" value="producto">

                <h3 class="text-center mt-2">Registrar producto</h3>
               
                <div class="mt-4">
                    <b>Ingrese el nombre del producto</b>
                    <input type='text' name="nombre_producto" id="nombre_producto" class="form-control  mt-1" placeholder="ej: Reloj" size='45'
                        required>
                </div>
                
                <div class="mt-4">        
                <b>Stock del producto</b><br>
                <input type='text'  class="form-control  mt-1" name="stock" id="stock" placeholder="Stock del producto" size='15'  required>
                </div>       
                <div class="mt-4">
                    <b>Precio</b>
                    <input  type='number' name="precio_producto" id="precio_producto" class="form-control mt-1"  placeholder="Ingrese el precio" size='45' maxlength='30' required>
                </div>

                <div class="mb-3 mt-4">
                    <b>Imagen del producto</b>
                    <input class="form-control" type="file" id="image" name="image" tabindex="7" accept="image/*" required>
                </div> 

                <div class="mt-4" >

                    <b>Categoría</b>
                    <select class="form-select mt-1 " name="id_categoria_producto_fk" id="id_categoria_producto_fk" aria-label="Default select example">
                        <option selected>Categoría</option>
                        <% categoria.forEach((categoria)=>{ %>
                            <option value="<%= categoria.id_categoria_producto %>" > <%= categoria.nombre_categoria_producto %> </option>
                        <%})%>
                    </select>

                </div>

                <div class="mt-4" >

                    <b>Estado</b>
                    
                    <select class="form-select mt-1 " name="id_estado_fk" id="id_estado_fk" aria-label="Default select example">
                        <option selected>Estado</option>
                        <% estado.forEach((estado)=>{ %>
                            <option value="<%= estado.id_estado_producto %>" > <%= estado.nombre_estado_producto %> </option>
                        <%})%>
                    </select>
                    
                </div>

                <div class="mt-4" >

                    <b>Bodega</b>
                    <select class="form-select mt-1 " name="id_bodega_fk" id="id_bodega_fk" aria-label="Default select example">
                        <option selected>Seleccione bodega</option>
                        <% bodega.forEach((bodega)=>{ %>
                            <option value="<%= bodega.id %>" > <%= bodega.tipo_bodega %> </option>
                        <%})%>
                    </select>
                    
                </div>

                <div class="mt-4" >

                    <b>Proveedores</b>
                    <select class="form-select mt-1 " name="id_proveedor_fk" id="id_proveedor_fk" aria-label="Default select example">
                        <option selected>Proveedores</option>
                        <% proveedores.forEach((proveedores)=>{ %>
                            <option value="<%= proveedores.id_proveedor %>" > <%= proveedores.nombre_proveedor %> </option>
                        <%})%>
                    </select>
                    
                </div>




                <button title="Registra un nuevo producto en la tienda" data-bs-toggle="tooltip" type="submit" class="btn btn-primary w-100 fw-semibold text-black shadow-sm mt-3">
                    Registrar
                </button>

            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert !="undefined" ){ %>
        <script>
            Swal.fire({
                title: '<%= alertTitle%>',
                text: '<%= alertMessage%>',
                icon: '<%= alertIcon%>',
                showConfirmButton: <%= showConfirmButton%> ,
                timer: <%= timer %>
            }).then(() => {
                    window.location = '/<%= ruta%>'
                })
        </script>
    <% } %>
    
    <!--CDN JS BOOTSTRAP-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <!--CDN TOOLTIP-->
    <script>
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
      })
    </script>
  </body>
</html>
<% } %>  
