<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editar producto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>

    <% if(user){ %>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="">Tienda</a>
                  </li>
    
                  <li class="nav-item">
                    <a class="nav-link" href="/productos">Registrar Producto</a>
                  </li>
    
                  <li class="nav-item">
                    <a class="nav-link" href="/ver_productos/<%= user.id_tienda %>">Ver Productos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/ver_productosDes/<%= user.id_tienda %>">Ver Productos eliminados</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="/ver_ventas/<%= user.id_tienda %>">Ventas</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link" href="/index_tienda/<%= user.id_tienda %>">Landing</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="/logout">Cerrar Sesión</a>
                  </li>
    
                </ul>
              </div>
            </div>
          </nav>

          
    <div class="d-flex justify-content-center align-items-center vh-100 mt-2 " style="background-color: hsl(0, 0%, 90%); ">
        <div class="bg-white p-5 rounded-5 text-secondary shadow" style="width: 60rem; border-radius: 30px;">
          <% if(producto){ %>
            <form action="/actualizarProducto" method="POST" class="needs-validation" enctype="multipart/form-data" novalidate >
                <input id="id" name="id" value="<%= producto.id_producto %>" hidden>
                <h3 class="text-center mt-2">Actualizar producto</h3>
               
                <div class="mt-4">
                    <b>Nombre del producto</b>
                    <input type='text' name="nombre_producto" id="nombre_producto" value="<%= producto.nombre_producto%>" class="form-control  mt-1" placeholder="ej: Reloj" size='45'
                        required>
                </div>
                
                <div class="mt-4">        
                <b>Stock del producto</b><br>
                <input type='text'  class="form-control  mt-1" name="stock" id="stock"  value="<%= producto.stock %>" placeholder="Stock del producto" size='15'  required>
                </div>       
                <div class="mt-4">
                    <b>Precio</b>
                    <input  type='number' name="precio_producto" id="precio_producto" value="<%= producto.precio_producto %>" class="form-control mt-1"  placeholder="Ingrese el precio" size='45' maxlength='30' required>
                </div>

                <div class="mb-3 mt-4">
                    <b>Imagen del producto en tienda</b>
                    <input class="form-control" type="file" id="image" name="image" value="<%= producto.imagen_producto %>" tabindex="7" accept="image/*" required>
                </div> 

                <div class="mt-4" >

                    <b>Categoría</b>
                    <select class="form-select mt-1 " name="id_categoria_producto_fk" id="id_categoria_producto_fk" aria-label="Default select example">
                        <option selected>Categoría</option>
                        <% categoria.forEach((categoria)=>{ %>
                            <option <%= producto.id_categoria_producto_fk == categoria.id_categoria_producto ? "selected" : "" %> value="<%= categoria.id_categoria_producto %>" > <%= categoria.nombre_categoria_producto %></option>
                        <%})%>
                    </select>

                </div>

                <div class="mt-4" >

                    <b>Estado</b>
                    
                    <select class="form-select mt-1 " name="id_estado_fk" id="id_estado_fk" aria-label="Default select example">
                        <option selected>Estado</option>
                        <% estado.forEach((estado)=>{ %>
                           <option <%= producto.id_estado_fk == estado.id_estado_producto ? "selected" : "" %> value= "<%= estado.id_estado_producto %>" > <%= estado.nombre_estado_producto %> </option>
                        <%})%>
                    </select>
                    
                </div>

                <div class="mt-4" >

                    <b>Bodega</b>
                    <select class="form-select mt-1 " name="id_bodega_fk" id="id_bodega_fk" aria-label="Default select example">
                        <option selected>Seleccione bodega</option>
                        <% bodega.forEach((bodega)=>{ %>
                          <option <%= producto.id_bodega_fk == bodega.id ? "selected" : "" %> value= "<%= bodega.id %>" > <%= bodega.tipo_bodega %> </option>
                        <%})%>
                    </select>
                    
                </div>

                <div class="mt-4" >

                    <b>Proveedores</b>
                    <select class="form-select mt-1 " name="id_proveedor_fk" id="id_proveedor_fk" aria-label="Default select example">
                        <option selected>Proveedores</option>
                        <% proveedores.forEach((proveedores)=>{ %>
                          <option <%= producto.id_proveedor_fk == proveedores.id_proveedor ? "selected" : "" %> value= "<%= proveedores.id_proveedor %>" > <%= proveedores.nombre_proveedor %> </option>
                        <%})%>
                    </select>
                    
                </div>




                <button type="submit" class="btn btn-success w-100 fw-semibold shadow-sm mt-3">
                    Registrar
                </button>

            </form>
          <%}%>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert !="undefined" ){ %>
        <script>
            Swal.fire({
                title: '<%= alertTitle%>',
                text: '<%= alertMessage%>',
                icon: '<%= alertIcon%>',
                showConfirmButton: <%= showConfirmButton%> ,
                timer: <%= timer %>
            }).then(() => {
                    window.location = '/<%= ruta%>'
                })
        </script>
    <% } %>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>
<% } %>  
