<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Aerobulla - Portal Tiendas</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/estilo_tienda.css" rel="stylesheet" />
        <link href="/globales.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->

        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #212529;" id="mainNav">
            <div class="container">
                <a class="" href="#page-top"><img src="/icono.png" height="75px" alt="..." /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/portal_habitaciones">Habitaciones</a></li>
                        <li class="nav-item"><a class="nav-link" href="/portal_tiendas">Tiendas</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Itinerario</a></li>
                    </ul>
                </div>
            </div>
        </nav>
                <!-- Portfolio Grid-->
                <section class="page-section bg-light" id="portfolio">
                  <div class="container-fluid">
                    <div class="table-responsive align-middle" >
                        
                      <table id="table" class="table table-striped text-center mt-4">
                        
                            <thead class="table-light" >
                                <tr>
            
                                    <th class="py-4" style="font-size: large;">COMPAÑIA</th>
                                    <th class="py-4" style="font-size: large;">VUELO</th>
                                    <th class="py-4" style="font-size: large;">EMBARQUE</th>
                                    <th class="py-4" style="font-size: large;">ORIGEN</th>
                                    <!-- <th>CIUDAD</th> -->
                                    <th class="py-4" style="font-size: large;">DESTINO</th>
                                    <!-- <th>CIUDAD</th> -->
                                    <th class="py-4" style="font-size: large;">ESTADO</th> 
            
                                </tr>
                            </thead>
            
                            <tbody>
            
                              <% results.forEach((iti)=> { %>
                                
                                  <tr  class="py-">
                                  
                                    <td  class="py-4" style="font-size: large;"><%= iti.compania_aerea %></td>
                                    <td  class="py-4" style="font-size: large;"><%= iti.numero_vuelo %></td>
                                    <td  class="py-4" style="font-size: large;"><%= iti.puerta_embarque %></td>
                                    <td  class="py-4" style="font-size:large;"><%= iti.aeropuerto_origen %></td>
                                    <!-- <td><%= iti.ciudad_origen %></td> -->
                                    <td  class="py-4" style="font-size: large;"><%= iti.aeropuerto_destino %></td>
                                    <!-- <td><%= iti.ciudad_destino%></td> -->
                                    <td  class="py-4" style="font-size: large;"><%= iti.estado_vuelo %></td>
                                    
                                  </tr>
            
                              <%}) %>
            
                            </tbody>
            
                        </table>
                      </div>
                    </div>
              </section>
      
        <div class="py-5" hidden>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="/img_tienda/logos/microsoft.svg" alt="..." aria-label="Microsoft Logo" /></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="/img_tienda/logos/google.svg" alt="..." aria-label="Google Logo" /></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="/img_tienda/logos/facebook.svg" alt="..." aria-label="Facebook Logo" /></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="/img_tienda/logos/ibm.svg" alt="..." aria-label="IBM Logo" /></a>
                    </div>
                </div>
            </div>
        </div>


        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright &copy; Aeropuerto 2023</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">Politicas de Privacidad</a>
                        <a class="link-dark text-decoration-none" href="#!">Terminos y Condiciones</a>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/scripts_tienda.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
