<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inicio de sesión</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
   
    
    <div class="container">

        <div class="table-responsive align-middle" >
            <table id="table" class="table table-striped text-center mt-4">
                <thead id="titletable">
                    <tr class="table-success ">

                        <th>Compañía</th>
                        <th>VUELO</th>
                        <th>ORIGEN</th>
                        <th>CIUDAD</th>
                        <th>DESTINO</th>
                        <th>ESTADO</th> 

                    </tr>
                </thead>

                <tbody>

                  <% origen.forEach((origen)=> { %>
                    <% destino.forEach((destino)=> { %>
                      <tr>
                      
                        <td>Compañía</td>
                        <td><%= destino.numero_vuelo %></td>
                        <td><%= origen.nombre %></td>
                        <td><%= origen.ciudad %></td>
                        <td><%= destino.nombre %></td>
                        <td><%= destino.ciudad %></td>
                        <td><%= destino.estado_vuelo %></td>
                        
                      </tr>
                    <%})%>
                  <%}) %>

                </tbody>

            </table>
        </div>
    </div>





  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>