<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/loginTienda.css">
  <script src="https://kit.fontawesome.com/ca048bf1d7.js" crossorigin="anonymous"></script>
  <title>Inicio de sesión</title>
</head>

<body>
  <img class="wave" src="/uploads/wave.svg" height="100%">
  <div class="container">
    <div class="img">
      <img src="/uploads/logo.png" style="margin-left: 20%; width: 100%;">
    </div>
    <div class="login-container">
        <form method="POST" action="/LoginSuperAdmin">
        <h2>Super Administrador</h2>
        <div class="input-div one">
          <div class="i">
            <i class="fa-regular fa-envelope"></i>
          </div>
          <div>
            <h5>Rut</h5>
            <input class="input" type="text" id="rut" name="rut" maxlength="10" required/>
          </div>
        </div>
        <div class="input-div two">
          <div class="i">
            <i class="fa-solid fa-lock"></i>
          </div>
          <div>
            <h5>Contraseña</h5>
            <input class="input" type="password" name="password" required/>
          </div>
        </div>
        <button type="submit" class="btn" id="submit-btn-vali">
          Ingresar
        </button>
          <!-- <div>¿No tienes una cuenta? <a href="registro" class="text-decoration-none text-warning fw-semibold">Registrar</a></div> -->
      </form>
    </div>
  </div>
  <script type="text/javascript" src="uwu.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <% if(typeof alert !="undefined" ){ %>
    <script>
      Swal.fire({
        title: '<%= alertTitle%>',
        text: '<%= alertMessage%>',
        icon: '<%= alertIcon%>',
        showConfirmButton: <%= showConfirmButton%> ,
        timer: <%= timer %>
            }).then(() => {
          window.location = '/<%= ruta%>'
        })
    </script>
    <% } %>
      <script>
          // Example starter JavaScript for disabling form submissions if there are invalid fields
          (() => {
            'use strict'
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')
            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
              form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                  event.preventDefault()
                  event.stopPropagation()
                }
                form.classList.add('was-validated')
              }, false)
            })
          })()
      </script>


<script>
    //VALIDADOR DE RUT

let rutInput = document.getElementById('rut');
let submitBtn = document.getElementById('submit-btn-vali');
let validacionRut = document.getElementById('validacion-rut');

rutInput.addEventListener('input', function() {

let rut = this.value;

if (/^[0-9]{7,8}-[0-9Kk]{1}$/.test(rut) && validarRut(rut) && !esRutConDigitosIguales(rut)) {
  submitBtn.disabled = false;
  validacionRut.innerHTML = '<i class="fas fa-check-circle" style="color: #21252B;"></i>';
} else {
    submitBtn.disabled = true;
    validacionRut.innerHTML = '<i class="fas fa-times-circle" style="color: #21252B;"></i>';
}
});

function validarRut(rut) {



  let [numero, digitoVerificador] = rut.split('-');
  let suma = 0;
  let multiplicador = 2;

  for (let i = numero.length - 1; i >= 0; i--) {
    suma += multiplicador * numero.charAt(i);
    multiplicador = multiplicador === 7 ? 2 : multiplicador + 1;
  }

  let resto = suma % 11;
  let digitoCalculado = 11 - resto;
  if (digitoCalculado === 11) {
    digitoCalculado = '0';
  } else if (digitoCalculado === 10) {
    digitoCalculado = 'K';
  }

  return digitoCalculado.toString() === digitoVerificador.toUpperCase();
}

function esRutConDigitosIguales(rut) {
  let [numero] = rut.split('-');
  return numero.split('').every(d => d === numero[0]);
}


</script>



<script>
  const inputs = document.querySelectorAll('.input');

function focusFunc(){
    let parent = this.parentNode.parentNode;
    parent.classList.add('focus');
}

function blurFunc(){
    let parent = this.parentNode.parentNode;
    if(this.value == ""){
        parent.classList.remove('focus');
    }
}

inputs.forEach(input =>{
    input.addEventListener('focus', focusFunc);
    input.addEventListener('blur', blurFunc);
});
</script>


</body>

</html>