<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inicio de sesión</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body style="background-color: hsl(0, 0%, 96%)">
  <section class="d-flex justify-content-center align-items-center vh-100 ">
    <div>
        <div class="container mb-8">
            <div class="row gx-lg-5 align-items-center">

                <div class="col-lg-6 mb-5 mb-lg-0">
                    <!--FOTO-->
                    <img class="img-fluid rounded mx-auto d-block" src="hasb1.png " alt="">
                    <p style="color: hsl(217, 10%, 58.8%)" class="hidden-mobile">
                      ¡Bienvenido/a la pagina de gestión de tiendas en el aeropuerto! Aquí encontrarás todas las herramientas necesarias para llevar tu un buen control de tu negocio en esta ubicación única.
                    </p>
                </div>

                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body py-5 px-md-5">
                            <h5 class="align-middle text-center">INICIO DE SESIÓN DE TIENDAS</h5>
                            <hr>
                            <br>
                            <!--DESDE ACÁ-->
                            <form method="POST" action="/LoginSuperAdmin">
                                <!-- Email input -->
                                <div class="form-group">
                                    <b>INGRESA TU RUT</b><br>
                                    <input type='text' name="rut" id="rut" class="form-control mt-2"
                                        placeholder="Correo electrónico" size='45' maxlength='70' required><br>
                                    <div class="invalid-feedback">
                                        Es necesario ingresar su correo
                                    </div>
                                </div>

                                <!-- Password input -->
                                <div class="form-group">
                                    <b>INGRESA TU CONTRASEÑA</b>
                                    <input type='password' name="password" id="password" class="form-control mt-2"
                                        placeholder="Contraseña" size='45' maxlength='30' required><br>
                                    <div class="invalid-feedback">
                                        Es necesario ingresar una contraseña
                                    </div>
                                </div>
                                <!-- Submit button -->
                                <button style="background-color: #e0ac04;" type="submit" id="submit-btn"
                                    class="btn text-white w-100 mt-4 fw-semibold shadow-sm"> 
                                    Iniciar Sesión
                                </button>
                                <div class="d-flex gap-1 justify-content-center mt-4">
                                  <div>¿No tienes una cuenta?</div>
                                  <a href="/registro" class="text-decoration-none text-warning fw-semibold">Registrar</a>
                                </div>

                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Jumbotron -->
</section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <% if(typeof alert !="undefined" ){ %>
      <script>
          Swal.fire({
              title: '<%= alertTitle%>',
              text: '<%= alertMessage%>',
              icon: '<%= alertIcon%>',
              showConfirmButton: <%= showConfirmButton%> ,
              timer: <%= timer %>
          }).then(() => {
                  window.location = '/<%= ruta%>'
              })
      </script>
  <% } %>
  </body>
</html>