<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Aerobulla - Super Admin</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="/sidebar/sidebar.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link href="/estilo_tienda.css" rel="stylesheet" />
        <link href="/forms.css" rel="stylesheet" />
        
    </head>
    <body class="s_body" id="body-pd">
        <header class="s_header" id="header">
            <div class="s_header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
            <div class="s_header_img"> <img src="/admin.png" alt=""> </div>
            
            
        </header>
        <div class="s_l-navbar" id="nav-bar">
            <nav class="s_nav">
                <div> <a href="#" class="s-a s_nav_logo"> <i class='bx bxs-plane-alt s_nav_logo-icon'></i> <span class="s_nav_logo-name">Aeropuerto ST</span> </a>
                    <div class="nav_list"> 
                        <a href="#" class="s-a s_nav_link active">
                            <i class='bx bx-store s_nav_icon'></i> 
                            <span class="s_nav_name">Tiendas</span> 
                        </a> 
                        <a href="/ver_habitaciones_admin" class="s-a s_nav_link"> 
                            <i class='bx bx-bed s_nav_icon'></i> 
                            <span class="nav_name">Habitaciones</span>
                        </a> 
                        <!--<a href="#" class="s-a s_nav_link"> 
                            <i class='bx bx-message-square-detail s_nav_icon'></i> 
                            <span class="nav_name">Messages</span> 
                        </a> 
                        <a href="#" class="s-a s_nav_link"> 
                            <i class='bx bx-bookmark s_nav_icon'></i> 
                            <span class="nav_name">Bookmark</span> 
                        </a> 
                        <a href="#" class="s-a s_nav_link"> 
                            <i class='bx bx-folder s_nav_icon'></i> 
                            <span class="nav_name">Files</span> 
                        </a> 
                        <a href="#" class="s-a s_nav_link"> 
                            <i class='bx bx-bar-chart-alt-2 s_nav_icon'></i> 
                            <span class="nav_name">Stats</span> 
                        </a>   -->
                        
                    </div>
                </div> <a href="/loginS" class="s-a s_nav_link"> <i class='bx bx-log-out s_nav_icon'></i> <span class="nav_name">Cerrar Sesion</span> </a>
            </nav>
        </div>


        <!-- Masthead-->
        <header class="masthead" style="background-image: url('/uploads/banners/bannerhashport.jpg');">
            <div class="container">
                <div class="masthead-subheading">Bienvenido !</div>
                <a class="btn btn-primary btn-xl text-uppercase text-black" href="#t">Tiendas</a>
            </div>
        </header>


        <!-- Portfolio Grid-->
        <section class="page-section bg-light" id="portfolio">
            
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Tiendas</h2>
                    <form action="/buscarTienda" method="POST">
                        <!-- <div class="form-group d-flex mb-4">
                            
                            <input class="form-control p-4 rounded-pill" id="comparacion" name="comparacion" type="text" placeholder="Buscador de tiendas">
                            <button class="btn btn-warning px-4 rounded-circle" type="submit"><i class="bi bi-search fs-4"></i></button>
                        </div> -->
                    </form>
                    <h3 id="t" class="section-subheading text-muted">Todas las tiendas disponibles.</h3>
                    <a class="btn btn-primary btn-xl text-uppercase text-black" href="/tiendasDeshabilitadas">Ver tiendas deshabilitadas</a>
                </div>
                <div class="pt-5"></div>
                <div class="row">
                <% tiendas.forEach((tienda)=>{ %>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 1-->
                        <div class="portfolio-item mx-4">
                            <a class="portfolio-link" href="/index_tienda/<%=tienda.id_tienda %>">
                              <!--
                              <div class="portfolio-hover">
                                  <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                              </div>
                              -->
                              <div class="image-container">
                                <img class="" src="/uploads/img_tiendas/<%= tienda.banner_tienda %>" alt="..." height="225px" width="100%"/>
                                <% if(tienda.id_estado_tienda_fk === 1) {%>
                                    <div class="image-text">
                                      <a class="btn btn-primary btn-xl text-uppercase text-black" href="/index_tienda/<%=tienda.id_tienda %>"><%= tienda.nombre_estado_tienda %></a>
                                    </div>
                                <%}else{%>
                                    <div class="texto-superpuesto text-center">
                                        <a class="btn btn-danger btn-xl text-uppercase text-black text-center" href="/index_tienda/<%=tienda.id_tienda %>"><%= tienda.nombre_estado_tienda %></a>
                                    </div>
                                <%}%>
                                <div class="row position-absolute top-0 start-100" >
                                    <div class="col-12 text-end">
                                        <% if(tienda.id_estado_tienda_fk === 1) {%>
                                            <a title="Deshabilitar tienda" data-bs-toggl="tooltip" href="/superadmin_eliminar_tienda/<%= tienda.id_tienda  %>" class="btn btn-danger btn-circle translate-middle"><i class="fa-solid fa-xmark text-black text-center"></i></a>
                                        <%}else{%>
                                            <a title="Habilitar tienda" data-bs-toggl="tooltip" href="/superadmin_habilitar_tienda/<%= tienda.id_tienda  %>" class="btn btn-success btn-circle translate-middle"><i class="fa-solid fa-trash-can-arrow-up text-center "></i></a>
                                        <%}%>
                                    </div>
                                    <div class="col-12 text-end pt-1">
                                        <a title="Editar tienda" data-bs-toggl="tooltip" data-bs-toggle="modal" href="#portfolioModal-<%= tienda.id_tienda %>"  class="btn btn-primary btn-circle translate-middle"><i class="fa-solid fa-pen-to-square text-black text-center"></i></a>
                                    </div>
                                </div>
                              </div>
                            </a>
                            <div class="portfolio-caption">
                              <div class="portfolio-caption-heading"><%= tienda.nombre_tienda %></div>
                              <div class="portfolio-caption-subheading text-muted fs-5"><%= tienda.horarios_tienda %></div>
                            </div>
                          </div>
                    </div>
                    <div class="portfolio-modal modal fade" id="portfolioModal-<%= tienda.id_tienda %>" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="close-modal" data-bs-dismiss="modal"><i class='bx bx-x-circle fs-1'></i></div>
                                <div class="container-fluid px-1 py-5 mx-auto">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
                                            <div>
                                                <h2  class="text-center mb-4">Edicion de Tienda</h2>
                                                <form class="form-card" action="/editestore" method="POST" enctype="multipart/form-data">
                                                    <input type="hidden" name="formType" value="tienda">
                                                    <input hidden type="text" name="id" id="id" value="<%= tienda.id_tienda %>">

                                                    <input hidden type="text" name="id" id="id" value="<%= tienda.id_tienda %>">
                                                    <div class="row justify-content-between text-left">
                                                        <div class="form-group col-sm-6 flex-column d-flex"><label class="form-control-label px-3">Nombre</label> <input type="text" id="name" name="name" value="<%= tienda.nombre_tienda %>"> </div>
                                                        <div class="form-group col-sm-6 flex-column d-flex"><label class="form-control-label px-3">Slogan</label> <input type="text" id="slogan" name="slogan" value="<%= tienda.slogan_tienda %>"> </div>
                                                    </div>
                                                    <div class="row justify-content-between text-left">
                                                        <div class="form-group col-sm-6 flex-column d-flex"><label class="form-control-label px-3">Logo</label> <input class="form-control" type="file" id="logo" name="logo" value=""></div>
                                                        <input type="text" value="<%= tienda.logo_tienda %>" id="logoexistente" name="logoexistente" hidden>

                                                        
                                                        <div class="form-group col-sm-6 flex-column d-flex"><label class="form-control-label px-3">Banner</label> <input class="form-control" type="file" id="image" name="image" value=""></div>
                                                        <input type="text" value="<%= tienda.banner_tienda %>" id="bannerexistente" name="bannerexistente" hidden>
                                                    
                                                    </div>
                                                    <div class="row justify-content-between text-left">
                                                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Tipo de tienda</label>
                                                            <select class="form-control mt-2 py-2" id="tipo" name="tipo">
                                                                <% tipo_tiendas.forEach((tipo) => { %>
                                                                    <option value=" <%= tipo.id_tipo %>"> <%= tipo.nombre_tipo %></option>
                                                                <% }) %>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Sector</label>
                                                            <select class="form-control mt-2 py-2" id="sector" name="sector">
                                                                <% sectores.forEach((sector) => { %>
                                                                    <option value=" <%= sector.id_sector %>"> <%= sector.nombre_sector %></option>
                                                                <% }) %>
                                                            </select>
                                                        </div>

                                                    </div>
                                                    <div class="row justify-content-between text-left">
                                                        <div class="form-group col-12 flex-column d-flex"> <label class="form-control-label px-3">Horarios</label> <input type="text" id="descripcion" name="descripcion" value="<%= tienda.horarios_tienda%>"> </div>
                                                        <div class="form-group col-12 flex-column d-flex"> <button type="submit" class="btn btn-primary text-black">Enviar</button> </div>
                                                    </div>  
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                   
                </div>
            </div>
        </section>

        

    


        <!-- <div class="py-5" hidden>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="/img_tienda/logos/microsoft.svg" alt="..." aria-label="Microsoft Logo" /></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="/img_tienda/logos/google.svg" alt="..." aria-label="Google Logo" /></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="/img_tienda/logos/facebook.svg" alt="..." aria-label="Facebook Logo" /></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="/img_tienda/logos/ibm.svg" alt="..." aria-label="IBM Logo" /></a>
                    </div>
                </div>
            </div>
        </div> -->

        


        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright &copy; Aeropuerto 2023</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">Politicas de Privacidad</a>
                        <a class="link-dark text-decoration-none" href="#!">Terminos y Condiciones</a>
                    </div>
                </div>
            </div>
        </footer>


        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <!-- Core theme JS-->
        <script src="/scripts_tienda.js"></script>
        <script src="/sidebar/sidebar.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggl="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
</html>

